/target/
/.plugins/
.buildpath
.project
.settings/
META-INF/
.externalToolBuilders/
.classpath
.prefs
.metadata
.MF
.component
.jsdtscope
.container
.name
.launch
.gitignore

.checkstyle
.nrm
.externalToolBuilders/


.prx
.fdx
.log
.gen
.ini
